<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<div class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
        <div class="justify-content-center">
          <h1>Add Model</h1>
        </div>
        <form th:action="@{/models/add}"
              th:method="post"
              th:object="${modelModel}"
          class="m-md-auto w-50 pb-3">



        <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input th:field="*{name}"
                   th:errorclass="is-invalid"
                   class="form-control text-center"
                   id="name" name="name"/>
            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Error message</small>
          </div>

          <div class="mb-3">
            <label class="form-label" for="brand">Brand</label>

            <input th:field="*{brand.name}"
                   th:errorclass="is-invalid"
                   class="form-control text-center"
                   id="brand" name="brandName"/>
            <small th:if="${#fields.hasErrors('brand.name')}" th:errors="*{brand.name}" class="text-danger">Error message</small>
          </div>

          <div class="mb-3">
            <label class="form-label" for="category">Category</label>
            <select class="form-control text-center"
                    id="category" name="category" th:field="*{category}">
              <option th:each="category : ${T(com.example.springdatabasicdemo.enums.Category).values()}"
                      th:value="${category}" th:text="${category}">Category
              </option>
            </select>
            <small th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger">Error message</small>
          </div>

          <!-- Add more fields based on the AddModelDto properties -->

          <div class="mb-3">
            <label class="form-label" for="imageUrl">Image URL</label>
            <input th:field="*{imageUrl}"
                   th:errorclass="is-invalid" type="text"
                   class="form-control text-center" id="imageUrl"
                   aria-describedby="imageUrl" name="imageUrl"/>
            <small th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="text-danger">Error message</small>
          </div>

          <div class="mb-3">
            <label class="form-label" for="startYear">Start Year</label>
            <input th:field="*{startYear}"
                   th:errorclass="is-invalid" type="number" min="1900"
                   class="form-control text-center" id="startYear"
                   aria-describedby="startYear" name="startYear"/>
            <small th:if="${#fields.hasErrors('startYear')}" th:errors="*{startYear}" class="text-danger">Error message</small>
          </div>

          <div class="mb-3">
            <label class="form-label" for="endYear">End Year</label>
            <input th:field="*{endYear}"
                   th:errorclass="is-invalid" type="number" min="1900"
                   class="form-control text-center" id="endYear"
                   aria-describedby="endYear" name="endYear"/>
            <small th:if="${#fields.hasErrors('endYear')}" th:errors="*{endYear}" class="text-danger">Error message</small>
          </div>

          <button type="submit" class="btn btn-secondary">Add Model</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
<footer th:replace="fragments/footer"/>
</html>
